@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{

--primary:#C6FF4A;

--dark:#121212;

--light:#F6F7F9;

--text:#111111;

--gray:#666666;

--white:#ffffff;

--border:#ECECEC;

--radius:18px;

--transition:.35s ease;

}

*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:'Poppins',sans-serif;

}

html{

scroll-behavior:smooth;

}

body{

background:var(--light);

color:var(--text);

overflow-x:hidden;

}



a{

text-decoration:none;

color:inherit;

}

button{

cursor:pointer;

border:none;

outline:none;

transition:var(--transition);

}

img{

display:block;

max-width:100%;

}

.container{

width:90%;

max-width:1300px;

margin:auto;

}